<div class="row">
  {% values.forEach(function(value) { %}
    <div class="col-sm-2">
      {{ value }}
    </div>
  {% }) %}
  <div class="col-sm-3">
    <div class="btn-group pull-right">
      {% if (node.hasChildren) { %}
        <button ref="toggleNode" class="btn btn-default btn-sm toggleNode">{{ t(node.collapsed ? 'Expand' : 'Collapse') }}</button>
      {% } %}
      {% if (!readOnly) { %}
        <button ref="addChild" class="btn btn-default btn-sm addChild">{{ t('Add') }}</button>
        <button ref="editNode" class="btn btn-default btn-sm editNode">{{ t('Edit') }}</button>
        <button ref="removeNode" class="btn btn-danger btn-sm removeNode">{{ t('Delete') }}</button>
        {% if (node.revertAvailable) { %}
          <button ref="revertNode" class="btn btn-danger btn-sm revertNode">{{ t('Revert') }}</button>
        {% } %}
      {% } %}
    </div>
  </div>
</div>
