<div class="ui checkbox">
  <{{input.type}}
    ref="input"
    id="{{id}}"
    {% for (var attr in input.attr) { %}
    {{attr}}="{{input.attr[attr]}}"
    {% } %}
    {% if (checked) { %}checked=true{% } %}
    >
  </{{input.type}}>
  <label class="{{input.labelClass}}" for="{{id}}">
    {{input.content}}
    {% if (!self.labelIsHidden()) { %}<span>{{input.label}}</span>{% } %}
    {% if (tooltip) { %}
      <span data-tooltip="{{tooltip}}" data-position="right center">
          <i class="{{iconClass('question-sign')}}"></i>
      </span>
    {% } %}
  </label>
</div>
