<div id="builder-sidebar-{{id}}" class="accordion panel-group" ref="sidebar">
  {% groupOrder.forEach(function(groupKey, index) { %}
  <div class="panel panel-default form-builder-panel" ref="group-panel-{{groupKey}}">
    <div class="panel-heading form-builder-group-header">
      <h5 class="mb-0 panel-title">
        <button class="btn btn-block builder-group-button" data-toggle="collapse" data-parent="#builder-sidebar-{{id}}" data-target="#group-{{groupKey}}" ref="sidebar-anchor">{{groups[groupKey].title}}</button>
      </h5>
    </div>
    <div class="panel-collapse collapse {{groups[groupKey].default ? ' in' : ''}}" data-default="{{groups[groupKey].default}}" id="group-{{groupKey}}" ref="sidebar-group">
      <div id="group-container-{{groupKey}}" class="panel-body no-drop" ref="sidebar-container">
        {% groups[groupKey].componentOrder.forEach(function(componentKey) { %}
        <span data-type="{{componentKey}}" class="btn btn-primary btn-xs btn-block formcomponent drag-copy">
          <i class="{{iconClass(groups[groupKey].components[componentKey].icon)}}" style="margin-right: 5px;"></i>
          {{groups[groupKey].components[componentKey].title}}
        </span>
        {% }) %}
      </div>
    </div>
  </div>
  {% }) %}
</div>
